.HeroSec {
    text-align: center;
    color: black;
    font-size: small;
    background-color: #DBDBDB;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 100px;
    padding-bottom: 120px;
}

.text {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
