.MainBody {
    display: grid;
    padding: 0;
}

.container1 {
    grid-column-start: 1;
    grid-column-end: 1;
}

.container2 {
    grid-column-start: 1;
    grid-column-end: 1;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 1000px) {
    .container1 {
        grid-column-start: 1;
        grid-column-end: 1;
    }
    
    .container2 {
        grid-column-start: 2;
        grid-column-end: 2;
    }
}

