.Preview {
    text-align: center;
    color: black;
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    background-color: #DBDBDB;
    padding-top: 50px;
}

#picture {
    position: inherit;
}

/* Resource used: https://www.w3schools.com/csS/css3_buttons.asp */
.button {
    background-color: #5385E7;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 8px;
}

#box1 {
    display: grid;
}

#emptyBox {
    grid-column-start: 1;
    grid-column-end: 1;
    width: 0;
    height: 0;
}

#pToCopy {
    width: 500px;
    grid-column-start: 2;
    grid-column-end: 2;
}

.previewbar {
    background-color: #5385E7;
    height: 80px;
    padding: 5px;
    left: 50px;
    margin-top: 80px;
}
